.home-wrap {
    display: grid;
    grid-template-rows: [content-s] 1fr [content-e] 1fr;
    color: white;
    justify-items: center;
    background-image: url(../../static/assets/home.jpg);
    background-size: cover;
    background-position: bottom;
    height: 100%;
    .home {
        margin: 0px 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-row: content-s/content-e;
        h1 {
            animation: slide 2s ease 0s 1 forwards;
        }
        p {
            font-size: 1.5rem;
        }
    } 
}